In [13]:
import numpy as np
import pandas as pd
import os

for dirname, _, filenames in os.walk('/kaggle/input'):
    
    print(dirname,'\n', _, '\n', filenames, '\n')
    
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input
 ['titanic']
 []

/kaggle/input/titanic
 []
 ['train.csv', 'test.csv', 'gender_submission.csv']

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

The following code provides information about the our directory of interest.

The for loop will use the .walk function to recursively print the directories.'dirname' represents the the outer level and file names represents the inner level. '_' is meant as a placeholder as it will not be used in the code. A nested loop is created to iterate throught the inner file names. Within the nested loop, os.path.join is used to join the outer and inner components. Each join is printed to screen, displaying the system path for later access.

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [20]:
# Using label-based selection (.loc) to identify females within the training data.
# Return the indicator of survival (0 or 1) for those respective values.
# Print the percentage of men and women among those who survived.

women = train_data.loc[train_data.Sex == 'female']["Survived"]

rate_women = round(sum(women)/len(women) * 100,2)
print("Women who survived:", str(rate_women) + "%")

men = train_data.loc[train_data.Sex == 'male']["Survived"]

rate_men = round(sum(men)/len(men) * 100,2)
print("Men who survived:", str(rate_men) + "%")

##################################################################################

# Using a for loop to sum all the passengers and those who survived.
# Calculating what percentage of the passengers survived.

total_survival = train_data ["Survived"]

count_survive = 0
count_total = 0

for num in total_survival:
    count_total += 1
    if num == 1:
        count_survive += 1
        
survive_percent = str(round((count_survive / count_total * 100), 2)) + "%"
print("Passengers who survived:", survive_percent)

Women who survived: 74.2%
Men who survived: 18.89%
Passengers who survived: 38.38%

In [5]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!